<template id='aliases-template'>
<div class='mt-2'>
	<catalog-header :catalog="catalog"></catalog-header>
	<h2 tt='aliases'></h2>
	<div v-if='!(widar.is_catalog_admin||widar.userinfo.name==catalog.username)' class="alert alert-warning" tt='no_catalog_admin_or_owner'></div>
	<form>
		<fieldset :disabled='!(widar.is_catalog_admin||widar.userinfo.name==catalog.username)'>
			<div tt='aliases_blurb'></div>
			<div>
				<textarea v-model='text' style='width:100%' rows=10 tt_placeholder='ph_paste_text_here'></textarea>
			</div>
			<div v-if='(widar.is_catalog_admin||widar.userinfo.name==catalog.username)' class="form-group">
				<button class='btn btn-outline-primary' @click.prevent='onSave' tt='save'></button>
				<span tt='aliases_save_note'></span>
			</div>
		</fieldset>
	</form>
</div>
</template>

<script>
'use strict';

let Aliases = Vue.extend ( {
    props : ['id'] ,
    data : function () { return { text:'' } } ,
    created : function () {
    	var me = this ;
    	me.catalog = get_specific_catalog(me.id) ;
    },
	updated : function () { tt.updateInterface(this.$el) } ,
	mounted : function () { tt.updateInterface(this.$el) } ,
    methods : {
    	onSave : function () {
    		var me = this ;
    		$.post ( './api.php' , {
    			query : 'add_aliases' ,
    			username : widar.getUserName() ,
    			catalog : me.id ,
    			text : me.text
    		} , function ( d ) {
    			if ( d.status != 'OK' ) {
    				alert ( d.status ) ;
    				return ;
    			}
    			loadOverview () ;
    			router.push ( '/catalog/'+me.id ) ;
    		} , 'json' ) ;
    	}
    } ,
    template:'#aliases-template'
} ) ;
</script>
