<template id='by-property-value-template'>
<div class='mt-2'>
	<p tt='by_property_value_blurb'></p>
	<div v-if='loading'>
		<i tt='loading'></i>
	</div>
	<div v-else>
		<i v-if='Object.keys(entries).length === 0' tt='no_results'></i>
		<entry-list-item v-else v-for="e in entries" :entry="e" :show_catalog="1" :show_permalink="1" :twoline="1" :key="e.id"></entry-list-item>
	</div>

</div>
</template>

<script>
'use strict';

let ByPropertyValue = Vue.extend ( {
    props : ['property','value'] ,
    data : function () { return { entries:{}, users:{} , loading:true } } ,
    created : function () {
    	let me = this ;
		me.load_entries() ;
    },
	updated : function () { tt.updateInterface(this.$el) } ,
	mounted : function () { tt.updateInterface(this.$el) } ,
    methods : {
    	load_entries : function () {
    		let me = this ;
	    	me.loading = true ;
	    	me.entries = [] ;
	    	let params = {
				query:'entries_via_property_value',
				property:me.property,
				value:me.value
			} ;
			$.get ( './api.php' , params , function ( d ) {
				me.entries = d.data.entries ;
				me.users = d.data.users ;
				for (const [k, v] of Object.entries(me.entries)) {
					v.username = '';
					if ( typeof me.users[v.user]!='undefined' ) {
						v.username = me.users[v.user].name;
					}
				}
				me.loading = false ;
			} , 'json' ) ;
    	}
    } ,
    template:'#by-property-value-template'
} ) ;
</script>
