<template id='catalog-editor-template'>
<div class='mt-2'>
	<catalog-header :catalog="catalog"></catalog-header>
	<h2 tt='catalog_editor'></h2>
	<div v-if='!widar.is_catalog_admin' class="alert alert-warning">
		You are not a catalog admin, so you can't change any of the setting below. If you want to be a catalog admin, ask Magnus!
	</div>
	<form>
		<fieldset :disabled='!widar.is_catalog_admin'>
			<div class="form-group">
				<label>Catalog name</label>
				<input type="text" class="form-control" v-model='catalog.name' />
			</div>
			<div class="form-group">
				<label>Catalog description</label>
				<input type="text" class="form-control" v-model='catalog.desc' />
			</div>
			<div class="form-group">
				<label>Catalog url</label>
				<input type="text" class="form-control" v-model='catalog.url' />
			</div>
			<div class="form-group">
				<label>Catalog type</label>
				<input type="text" class="form-control" v-model='catalog.type' />
			</div>
			<div class="form-group">
				<label>Main language</label>
				<input type="text" class="form-control" v-model='catalog.search_wp' />
			</div>
			<div class="form-group">
				<label>Property/qualifier</label>
				<input type="number" class="form-control" v-model='catalog.wd_prop' placeholder='property' style='width:10rem;display:inline-block;' />
				<input type="number" class="form-control" v-model='catalog.wd_qual' placeholder='qualifier' style='width:10rem;display:inline-block;' />
				<i>(numbers only!)</i>
			</div>
			<div class="form-group" v-if='typeof catalog.wd_prop!="undefined" && catalog.wd_prop>0'>
				<a href='#' @click.prevent='update_ext_urls'>Update external URLs from property formatter URL and IDs</a> <i style='color:red;'>careful!</i>
			</div>
			<div class="form-group">
				<label>Active</label>
				<input type="checkbox" class="form-control" v-model='catalog.active' value='1' style='width:2rem;display:inline-block;' />
			</div>
			<div v-if='widar.is_catalog_admin' class="form-group">
				<button class='btn btn-outline-primary' @click.prevent='onSave'>Save</button>
			</div>
		</fieldset>
	</form>
</div>
</template>

<script>
'use strict';

let CatalogEditor = Vue.extend ( {
    props : ['id'] ,
    data : function () { return { catalog:{} } } ,
    created : function () {
    	let me = this ;
    	me.catalog = get_specific_catalog(me.id) ;
    },
	updated : function () { tt.updateInterface(this.$el) } ,
	mounted : function () { tt.updateInterface(this.$el) } ,
    methods : {
    	update_ext_urls : function () {
    		let me = this;
    		let prop = 'P'+me.catalog.wd_prop;
    		let url = "https://www.wikidata.org/w/api.php?callback=?&action=wbgetentities&format=json&ids="+prop;
    		$.getJSON(url,function(d){
    			let x = d.entities[prop].claims||{};
    			if ( typeof x.P1630=="undefined" ) {
    				alert(prop+' has no formatter URL');
    				return;
    			}
    			let url = '';
    			x.P1630.forEach ( claim => {
    				if ( claim.rank=='preferred' || (url=='' && claim.rank=='normal') ) url = claim.mainsnak.datavalue.value;
    			});
    			if ( url=='' ) {
    				alert(prop+' has no suitable formatter URL (maybe deprecated only?');
    				return;
    			}
    			$.get('./api.php',{
    				query:'update_ext_urls',
    				username : widar.getUserName() ,
    				url:url,
    				catalog:me.id
    			},function(d){
    				if ( d.status=='OK' ) alert("Done");
    				else alert(d.status);
    			},'json');
    		});
    	},
    	onSave : function () {
    		var me = this ;
    		$.get ( './api.php' , {
    			query : 'edit_catalog' ,
    			username : widar.getUserName() ,
    			catalog : me.id ,
    			data : JSON.stringify ( me.catalog )
    		} , function ( d ) {
    			loadOverview () ;
    			router.push ( '/catalog/'+me.id ) ;
    		} , 'json' ) ;
    	}
    } ,
    template:'#catalog-editor-template'
} ) ;
</script>
