<style>
form.test_entry_form > div {
    margin-right:0.2rem;
}
</style>

<template id='codepage-template'>
<div class='mt-2'>
    <catalog-header v-if='typeof catalog!="undefined"' :catalog="catalog"></catalog-header>
	<div v-if='loaded'>

        <div class='card'>
            <div class="card-body">
                <h5 class="card-title" tt='test_entry'></h5>
                <div class="card-text">
                    <div style='display:flex;flex-direction:row;'>
                        <form class='form-inline test_entry_form'>
                            <div>
                                <input v-model='test_entry_external_id' tt_placeholder='ph_test_entry_external_id' />
                            </div>
                            <div>
                                <button class='btn btn-outline-primary' tt='use_test_entry' @click.prevent='useTestEntry()'></button>
                            </div>
                            <div>
                                <button class='btn btn-outline-secondary' tt='load_random_test_entry' @click.prevent='loadRandomEntry()'></button>
                            </div>
                        </form>
                    </div>
                </div>

                <div v-if='typeof test_entry.id!="undefined"'>
                    <entry-details :entry='test_entry'></entry-details>
                </div>
            </div>
        </div>

        <div v-for='(cf,cf_num) in code_fragments'>
            <code-fragment :fragment='cf' :key='"code_fragment_"+catalog_id+"_"+cf.function' :test_entry='test_entry' :is_user_allowed='is_user_allowed'></code-fragment>
        </div>

        <div v-for='fn in available' style='margin-top:0.2rem;'>
            <button class='btn btn-outline-primary' @click.prevent='addCodeFragment(fn)'>
                <span tt='add_code_fragment'></span>
                <span>{{fn.replace(/_/g,' ')}}</span>
            </button>
        </div>
    </div>
    <div v-else-if="error!=''" class="alert alert-danger" role="alert">
        {{error}}
    </div>
    <div v-else>
        <i tt='loading'></i>
    </div>
</div>
</template>

<script>
'use strict';

let CodePage = Vue.extend ( {
    props : ['catalog_id'] ,
    data : function () { return { code_fragments:[] , all_functions:[] , available:[] , loaded:false , is_user_allowed:false , error:'' , test_entry_external_id:'' , test_entry:{} } } ,
    created : function () {
    	var me = this ;
        me.catalog = get_specific_catalog(me.catalog_id) ;
        if ( typeof me.catalog == 'undefined' ) me.error = 'Catalog is not defined' ;
        else me.loadCode() ;
    },
	updated : function () { tt.updateInterface(this.$el) } ,
	mounted : function () { tt.updateInterface(this.$el) } ,
    methods : {
        addCodeFragment : function ( fn ) {
            let me = this ;
            let cf = { 'function':fn , catalog:me.catalog_id , php:'' , json:'' , is_active:true , note:'' } ;
            if ( fn == 'BESPOKE_SCRAPER' ) cf.php = 'function object_generator() {\n}\n\nfunction process_object($o,$html) {\n\treturn [ $o ] ;\n}' ;
            me.code_fragments.push ( cf ) ;
            me.updateAvailable() ;
        } ,
        updateAvailable : function () {
            let me = this ;
            me.available = [] ;
            $.each ( me.all_functions , function ( k , fn ) {
                let found = false ;
                $.each ( me.code_fragments , function ( k2 , cf ) {
                    if ( cf.function == fn ) found = true ;
                } ) ;
                if ( !found ) me.available.push ( fn ) ;
            } ) ;
        } ,
        useTestEntry : function () {
            let me = this ;
            let new_ext_id = $.trim(me.test_entry_external_id) ;
            if ( me.test_entry.ext_id == new_ext_id ) return ;
            $.get('./api.php',{
                query:'get_entry',
                catalog:me.catalog_id,
                ext_ids:JSON.stringify([new_ext_id])
            },function(d){
                me.test_entry = {} ;
                $.each ( d.data.entries , function ( entry_id , entry ) {
                    me.test_entry = entry ;
                } ) ;
                me.test_entry_external_id = me.test_entry.ext_id ;
            },'json') ;
        } ,
        loadRandomEntry : function () {
            let me = this ;
            $.get('./api.php',{
                query:'random',
                catalog:me.catalog_id
            },function(d){
                me.test_entry = d.data ;
                me.test_entry_external_id = me.test_entry.ext_id ;
            },'json') ;
        } ,
        loadCode : function () {
            let me = this ;
            if ( !widar.loaded ) {
                return setTimeout ( me.loadCode , 100 ) ;
            }
            $.get('./api.php',{
                query:'get_code_fragments',
                catalog:me.catalog_id ,
                username:widar.getUserName(),
            },function(d){
                me.code_fragments = d.data.fragments ;
                me.all_functions = d.data.all_functions ;
                me.updateAvailable() ;
                me.is_user_allowed = d.data.user_allowed == 1 ;
                me.loaded = true ;
            },'json') ;
        }
    } ,
    template:'#codepage-template'
} ) ;
</script>
