<style>
div.cf_bar {
    display:flex;
    flex-direction:row;
    margin-top:0.2rem;
}
div.cf_bar > div {
    margin-left:1rem;
    white-space:nowrap;
}
span.test_result_value {
    background-color: #BBDAFF; 
    font-family:Courier;
    line-height:0;
}
</style>

<template id='code-template'>
<div class='mt-2'>
    <div class='card'>
        <div class="card-body">
            <h5 class="card-title">{{frag.function.replace(/_/g,' ')}}</h5>
            <div class="card-text">
                <div :id='"code_editor_"+editor_counter' style='width:100%;height:15rem;'>{{frag.php}}</div>
                <div style='margin-top:0.2rem;'>
                    <textarea v-model='frag.json' rows='3' style="width:100%;" tt_placeholder='cf_json'></textarea>
                </div>
                <div class='cf_bar'>
                    <div>
                        <label>
                            <input type='checkbox' v-model='frag.is_active' />
                            <span tt='cf_is_active'></span>
                        </label>
                    </div>
                    <div style='width:100%;'>
                        <input v-model='frag.note' tt_placeholder='note' style='width:100%;' />
                    </div>
                    <div v-if='is_user_allowed && typeof test_entry.id!="undefined" && !test_is_running'>
                        <button class='btn btn-outline-success' tt='test' @click.prevent='runTest()'></button>
                    </div>
                    <div v-if='is_user_allowed && test_successful'>
                        <button class='btn btn-outline-primary' tt='save' @click.prevent='saveCode()'></button>
                    </div>
                </div>
            </div>

            <div v-if='test_is_running'>
                <i tt='test_is_running'></i>
            </div>
            <div v-if='show_test_results' style='margin-top:0.5rem;border-top:1px dotted #DDD'>
                <div tt='test_results'></div>
                <table v-if='test_results.length>0' class='table'>
                    <tbody>
                        <tr v-for='(result,result_num) in test_results'>
                            <td nowrap>
                                <span v-if='result.action==1'>Add</span>
                                <span v-else-if='result.action==2'>Set</span>
                                <span v-else-if='result.action==3'>Remove</span>
                                <span v-else><i>Unknown action</i></span>
                            </td>
                            <td nowrap>
                                <span v-if='result.target==1'>person dates</span>
                                <span v-else-if='result.target==2'>auxiliary data</span>
                                <span v-else-if='result.target==3'>entry part</span>
                                <span v-else-if='result.target==4'>alias</span>
                                <span v-else-if='result.target==5'>location</span>
                                <span v-else-if='result.target==6'>location text</span>
                                <span v-else><i>Unknown target</i></span>
                            </td>
                            <td>
                                <span v-if='result.action==2 && result.target==3'>
                                    entry
                                    <span v-if='result.data.key=="ext_name"'>name</span>
                                    <span v-else-if='result.data.key=="ext_desc"'>description</span>
                                    <span v-else-if='result.data.key=="type"'>type</span>
                                    <span v-else>{{result.data.key}}</span>
                                    to
                                    <span class='test_result_value'>{{result.data.value}}</span>
                                </span>
                                <span v-else>
                                    <span class='test_result_value'>{{result.data}}</span>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div v-else>
                    <i tt='no_test_results'></i>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
'use strict';


var code_editor_counter = 0 ;

Vue.component ( 'code-fragment' , {
    props : ['fragment','test_entry','is_user_allowed'] ,
    data : function () { return { frag:{} , changed:false , editor:{} , editor_counter:0 , is_logged_in:false , 
        test_results:[] , show_test_results:false , test_is_running:false , test_successful:false } } ,
    created : function () {
    	let me = this ;
        let frag = JSON.parse(JSON.stringify(me.fragment)) ;
        frag.php = "<?PHP\n" + $.trim(frag.php) + "\n?>" ;
        me.frag = frag ;
        me.editor_counter = code_editor_counter++ ;
    },
	updated : function () { tt.updateInterface(this.$el) } ,
	mounted : function () {
        let me = this ;
        me.is_logged_in = widar.is_logged_in ;
        console.log ( me.is_logged_in ? 'yes' : 'no' )
        me.editor = ace.edit("code_editor_"+me.editor_counter);
        //me.editor.setTheme("ace/theme/monokai");
        me.editor.session.setMode("ace/mode/php");
        tt.updateInterface(this.$el) ;
    } ,
    methods : {
        get_frag_for_query : function () {
            let me = this ;
            let frag = JSON.parse(JSON.stringify(me.frag)) ;
            frag.php = me.editor.getValue() ;
            frag.php = frag.php.replace(/^<\?[ph]*\n/i,'') ;
            frag.php = frag.php.replace(/\n\?>$/i,'') ;
            return frag ;
        } ,
        saveCode : function () {
            let me = this ;
            let frag = me.get_frag_for_query() ;
            $.post('./api.php',{
                query:'save_code_fragment',
                username:widar.getUserName(),
                catalog:me.test_entry.catalog,
                fragment:JSON.stringify(frag)
            },function(d){
                alert ( d.status ) ;
            },'json')
            .fail(function() {
                alert ( "Error while saving" ) ;
            } ) ;
        } ,
        runTest : function () {
            let me = this ;
            let frag = me.get_frag_for_query() ;
            me.test_is_running = true ;
            me.test_successful = false ;
            $.post('./api.php',{
                query:'test_code_fragment',
                username:widar.getUserName(),
                entry_id:me.test_entry.id,
                fragment:JSON.stringify(frag)
            },function(d){
                me.test_is_running = false ;
                if ( d.status == 'OK' ) {
                    if ( d.data == null ) {
                        me.test_results = [] ;
                        me.show_test_results = false ;
                        me.test_successful = false ;
                        alert ( "API said OK but result is null" ) ;
                    } else {
                        me.test_results = d.data ;
                        me.show_test_results = true ;
                        me.test_successful = true ;
                    }
                } else {
                    me.test_results = [] ;
                    me.show_test_results = false ;
                    alert ( d.status ) ;
                }
            },'json')
            .fail(function() {
                me.test_is_running = false ;
                me.test_results = [] ;
                me.show_test_results = false ;
                alert( "Test failed. Probably an error in the PHP code." );
            }) ;

        }
    } ,
    template:'#code-template'
} ) ;
</script>
