<template id='common-names-template'>
<div class='mt-2'>
	<catalog-header :catalog="catalog"></catalog-header>
	<p tt='common_names_blurb'></p>
	<div v-if='loading'>
		<i tt='loading'></i>
	</div>
	<div v-else>
		<div>
			<form>
				<div style='display:inline-block;margin-right:2rem;'>
					<input style='width:3rem;' type='number' v-model='min' /> &mdash; <input style='width:3rem;' type='number' v-model='max' /> other catalogs
				</div>
				<label style='display:inline-block;margin-right:2rem;'>
					<input type='checkbox' v-model='other_cats_desc' />
					<span tt='other_cats_desc'></span>
				</label>
				<div style='display:inline-block;margin-right:2rem;'>
					<input style='width:5rem;' type='text' v-model='type_q' placeholder="Qxxx" /> type
				</div>				
				<div style='display:inline-block;'>
					<button class='btn btn-outline-primary' @click.prevent='reload' tt='refresh'></button>
				</div>
			</form>
		</div>
		<hr/>
		<ol :start='offset+1'>
			<li v-for='e in entries' style='border-bottom:1px solid #AAA'>
				<div>
					<router-link target='_blank' :to='"/creation_candidates/by_ext_name/?ext_name="+e.ext_name'><b>{{e.ext_name}}</b></router-link>
					( in up to {{e.cnt-1}} other catalogs)
				</div>
				<entry-list-item :entry="e" :show_permalink="1" :key="e.id"></entry-list-item>
			</li>
		</ol>
		<div>
			<button v-if='offset>0' class='btn btn-outline-primary' @click.prevent='set_offset(offset-limit)' tt='previous'></button>
			<button v-if='Object.keys(entries).length==limit' style='float:right;' class='btn btn-outline-primary' @click.prevent='set_offset(offset+limit)' tt='next'></button>
		</div>
	</div>

</div>
</template>

<script>
'use strict';

let CommonNames = Vue.extend ( {
    props : ['id'] ,
    data : function () { return { catalog:{} , loading:true , entries:[] , type_q:'' , limit:50 , offset:0 , min:3 , max:20 , other_cats_desc:false } } ,
    created : function () {
    	let me = this ;
    	me.catalog = get_specific_catalog(me.id) ;
		if ( typeof me.$route.query.offset!='undefined' ) me.offset = me.$route.query.offset*1 ;
		if ( typeof me.$route.query.min!='undefined' ) me.min = me.$route.query.min*1 ;
		if ( typeof me.$route.query.max!='undefined' ) me.max = me.$route.query.max*1 ;
		if ( typeof me.$route.query.other_cats_desc!='undefined' ) me.other_cats_desc = me.$route.query.other_cats_desc==1 ;
		if ( typeof me.$route.query.type!='undefined' ) me.type_q = me.$route.query.type ;
		me.load_entries() ;
    },
	updated : function () { tt.updateInterface(this.$el) } ,
	mounted : function () { tt.updateInterface(this.$el) } ,
    methods : {
    	set_offset : function ( new_offset ) {
    		if ( new_offset < 0 ) new_offset = 0 ;
    		this.offset = new_offset ;
    		this.reload();
    	} ,
    	reload : function () {
    		let me = this ;
    		let url = '/common_names/' + me.id ;
    		let parts = [] ;
    		if ( me.offset != 0 ) parts.push ( "offset="+me.offset ) ;
    		if ( me.min != 3 ) parts.push ( "min="+me.min ) ;
    		if ( me.max != 20 ) parts.push ( "max="+me.max ) ;
    		if ( me.type_q != '' ) parts.push ( "type="+me.type_q ) ;
    		if ( me.other_cats_desc ) parts.push("other_cats_desc=1") ;
    		if ( parts.length > 0 ) url += "?" + parts.join("&") ;
			router.push ( url ) ;
			me.load_entries() ;
    	} ,
    	load_entries : function () {
    		let me = this ;
	    	me.loading = true ;
	    	me.entries = [] ;
	    	let params = {
				query:'get_common_names',
				catalog:me.id,
				limit:me.limit,
				offset:me.offset,
				min:me.min,
				max:me.max+1,
				type:me.type_q,
				other_cats_desc:me.other_cats_desc?1:0
			} ;
			$.get ( './api.php' , params , function ( d ) {
				//console.log(JSON.parse(JSON.stringify(d)))
				me.entries = d.data.entries ;
				me.loading = false ;
			} , 'json' ) ;
    	}
    } ,
    template:'#common-names-template'
} ) ;
</script>
