<template id='import-template'>
<div class='mt-2'>
	<div style='float:right'>
		<a href="https://meta.wikimedia.org/wiki/Mix'n'match/Import" target='_blank' class='external'>ℹ️</a>
	</div>
	<h1 tt='import_or_update_catalog'></h1>

	<div class="card mb-2">
	<div class="card-body">
	<h4 class="card-title" tt='catalog'></h4>
	<h6 class="card-subtitle mb-2 text-muted" tt='update_catalog_blurb'></h6>
	<div class="card-text">

	<form>
		<div class="form-group row align-items-center">
			<label class="col-sm-2 col-form-label" tt='catalog_id'></label>
			<div class="col-sm-2"><input type="number" class="form-control" v-model="meta.catalog_id"></div>
			<div class="col-sm"><small>Leave empty to create a new catalog. If given, other data in this section will be ignored.</small></div>
		</div>
		<div v-if='meta.catalog_id==""'>
			<div class="form-group row align-items-center">
				<label class="col-sm-2 col-form-label" tt='catalog_name'></label>
				<div class="col-sm-10"><input type="text" class="form-control" v-model="meta.name"></div>
			</div>
			<div class="form-group row align-items-center">
				<label class="col-sm-2 col-form-label" tt='description'></label>
				<div class="col-sm-10"><input type="text" class="form-control" v-model="meta.desc" maxlength="250"></div>
			</div>
			<div class="form-group row align-items-center">
				<label class="col-sm-2 col-form-label" tt='url'></label>
				<div class="col-sm-8"><input type="text" class="form-control" v-model="meta.url"></div>
				<div class="col-sm-2"><small tt='optional'></small></div>
			</div>
			<div class="form-group row align-items-center">
				<label class="col-sm-2 col-form-label" tt='wd_property'></label>
				<div class="col-sm-2"><input type="text" class="form-control" v-model="meta.property" @blur="onPropertyChanged"></div>
				<div class="col-sm-2"><small tt='optional'></small></div>
				<div class="col-sm-2" tt='type'></div>
				<div class="col-sm-2">
					<select class="custom-select" v-model='meta.type'>
						<option v-for='group in types' :value='group' :selected='group==meta.type' >{{ucFirst(group)}}</option>
					</select>
				</div>
				<div class="col-sm text-info" v-if='doesCatalogWithPropertyExist()'>A catalog with this property already exists</div>
			</div>
			<div class="form-group row align-items-center">
				<label class="col-sm-2 col-form-label" tt='primary_language'></label>
				<div class="col-sm-2"><input type="text" class="form-control" v-model="meta.lang"></div>
				<label class="col-sm-2 col-form-label" tt='default_entry_type'></label>
				<div class="col-sm-3">
					<input type='text' v-model='update_info.default_type' placeholder='Qxxx' />
				</div>
				<div class="col-sm-2"><small tt='optional'></small></div>
			</div>


		</div>
	</form>

	</div>
	</div>
	</div>


	<div class="card mb-2">
	<div class="card-body">
	<h4 class="card-title" tt='data'></h4>
	<h6 class="card-subtitle mb-2 text-muted" tt='update_data_blurb'></h6>
	<div class="card-text">

	<div class="form-group row">
		<label class="col-sm-2 col-form-label" tt='file_type'></label>
		<div class="col-sm-3">
			<input type="radio" v-model="update_info.data_format" value="csv" />
			<span tt='csv'></span>
		</div>
		<div class="col-sm-3">
			<input type="radio" v-model="update_info.data_format" value="tsv" />
			<span tt='tsv'></span>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-2 col-form-label" tt='source'></label>
		<div class="col-sm-10">
			<div class="row">
				<div class="col-sm-2">
					<input type="radio" v-model="source" value='url'>
					<span tt='url'>
				</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="source_url" @blur="onPropertyChanged">
					<br/>
					<label>
						<input type='radio' v-model='seconds' value='0' />
						<span tt='no_auto_update'></span>
					</label>
					<label>
						<input type='radio' v-model='seconds' value='604800' />
						<span tt='auto_update_week'></span>
					</label>
					<label>
						<input type='radio' v-model='seconds' value='2592000' />
						<span tt='auto_update_month'></span>
					</label>
					<label>
						<input type='radio' v-model='seconds' value='31536000' />
						<span tt='auto_update_year'></span>
					</label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<input type="radio" v-model="source" value='file'>
					<span tt='file'>
				</div>
				<div class="col-sm-4">
					<form v-if='widar.is_logged_in' class='file_upload_form'>
						<input type="file" name="import_file" @change="on_file_upload"/>
					</form>
					<div v-else tt='log_into_widar'>
					</div>
				</div>
				<div class="col-sm-6">
					<i>{{file_uuid}}</i>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-2 col-form-label" tt='update_modes'></label>
		<div class="col-sm-3">
			<input type='checkbox' v-model='update_info.add_new_entries' />
			<span tt='add_new_entries'></span>
		</div>
		<div class="col-sm-4">
			<input type='checkbox' v-model='update_info.update_existing_description' />
			<span tt='update_existing_description'></span>
		</div>
		<div class="col-sm-3">
			<input type='checkbox' v-model='update_info.update_all_descriptions' />
			<span tt='update_all_descriptions'></span>
		</div>
	</div>
	
	<div class="form-group row">
		<label class="col-sm-2 col-form-label" tt='top_sections_done'></label>
		<div class="col-sm-2">
			<input type='checkbox' v-model='top_sections_done' />
		</div>
	</div>


	</div>
	</div>
	</div>


	<div class="card mb-2" v-if='top_sections_done && has_valid_source && !is_done'>
	<div class="card-body">
	<div v-if='headers_loaded' style='float:right'>
		<button class='btn btn-outline-secondary' tt='reload' @click.prevent='load_headers'></button>
		<button v-if='has_columns' class='btn btn-outline-success' tt='test' @click.prevent='test_source'></button>
	</div>
	<h4 class="card-title" tt='columns'></h4>
	<!--<h6 class="card-subtitle mb-2 text-muted" tt='update_data_blurb'></h6>-->
	<div v-if='test_successful'>
		<div><span tt='test_results'></span> (≤1000)</div>
		<table class='table table-striped'>
			<thead>
				<tr>
					<th tt='test_result_label'></th>
					<th tt='rows'></th>
				</tr>
			</thead>
			<tbody>
				<tr v-for='(num,label) in test_results'>
					<th>{{label}}</th>
					<td><tt>{{num}}</tt></td>
				</tr>
			</tbody>
		</table>
		<div v-if='widar.is_logged_in'>
			<button class='btn btn-outline-primary' tt='looks_good_import' @click.prevent='import_source'></button>
		</div>
		<div v-else tt='log_into_widar'>
		</div>
	</div>
	<div v-else-if='test_running'>
		<i tt='test_is_running'></i>
	</div>
	<div v-else>
		<div class="card-text" v-if='headers_loaded'>
			<table class='table table-striped'>
				<thead>
					<tr>
						<th tt='column_number'></th>
						<th tt='column_label'></th>
						<th tt='column_use'></th>
					</tr>
				</thead>
				<tbody>
					<tr v-for='(c,num) in update_info.columns'>
						<th><tt>{{num}}</tt></th>
						<td>{{c.label}}</td>
						<td>{{c.use}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="card-text" v-else>
			<i tt='getting_headers'></i>
		</div>
	</div>
	</div>
	</div>

	<div class="card mb-2" v-if='is_done'>
	<div class="card-body">
	<div class="card-text">
		<div>
			<span tt='all_done'></span>:
			<router-link :to="'/catalog/'+meta.catalog_id">{{meta.catalog_id}}</router-link>
		</div>
	</div>
	</div>
	</div>

</div>
</template>

<script>
'use strict';

// TODO default aux
// TODO file upload

let Import = Vue.extend ( {
    props : [ 'original_catalog_id' ] ,
    data : function () { return { types:[] , type2count:{} , source:'url' , source_url:'' , file_uuid:'' ,
    	update_info : {
	    	url_pattern:'' , 
	    	data_format:'csv' ,
	    	columns : [] ,
	    	num_header_rows : 1 ,
	    	min_cols : 2 ,
	    	default_type : '' , // TODO
	    	update_existing_description : false ,
	    	update_all_descriptions : false ,
	    	add_new_entries : true ,
	    	default_aux : []
    	} ,
    	top_sections_done : false ,
    	headers_loaded : false ,
    	test_running : false ,
    	test_successful : false ,
    	test_results : {} ,
    	is_done : false ,
    	seconds : 0,
    	meta : { catalog_id:'' , name:'' , desc:'' , property:'' , lang:'en' , type:'unknown' , url:'' } ,
    	valid_column_headers : ['id','name','desc','url','type','q','autoq','born','died']
    	}
    } ,
    created : function () { this.init() },
	updated : function () { tt.updateInterface(this.$el) } ,
	mounted : function () { tt.updateInterface(this.$el) } ,
	computed : {
		has_valid_source : function () {
			if ( this.source == 'url' && this.source_url != '' ) {
				if ( !this.headers_loaded ) this.load_headers() ;
				return true ;
			}
			if ( this.source == 'file' && this.file_uuid != '' ) {
				if ( !this.headers_loaded ) this.load_headers() ;
				return true ;
			}
			return false ;
		} ,
		has_columns : function () {
			let self = this ;
			let has_id = false ;
			let has_name = false ;
			$.each ( self.update_info.columns , function ( dummy , c ) {
				if ( c.use == 'id' ) has_id = true ;
				if ( c.use == 'name' ) has_name = true ;
			} ) ;
			return has_id && has_name ;
		}
	} ,
    methods : {
		init : function ( o ) {
			if ( typeof this.original_catalog_id != 'undefined' ) this.meta.catalog_id = this.original_catalog_id ;
			this.updateTypes() ;
		} ,
		ucFirst : function ( s ) {
			return s.charAt(0).toUpperCase() + s.slice(1).replace(/_/g,' ') ;
		} ,
		on_file_upload : function () {
			let self = this ;
			let form = $('form.file_upload_form')[0];
			var data = new FormData(form);
			data.append('query','upload_import_file');
			data.append('data_format',self.update_info.data_format);
			data.append('username',widar.getUserName());
			$.ajax({
	            type: "POST",
	            enctype: 'multipart/form-data',
	            url: "/api.php",
	            data: data,
	            processData: false,
	            contentType: false,
	            cache: false,
	            timeout: 800000,
	            success: function (data) {
	            	console.log(data);
					if ( data.status != 'OK' ) {
						alert ( d.status ) ;
						return ;
					}
	            	self.file_uuid = data.uuid ;
	            	self.source = 'file' ;
	            },
	            error: function (e) {
	                alert(e.responseText);
	            }
	        });
		} ,
		get_update_info : function () {
			let ret = JSON.parse(JSON.stringify(this.update_info)) ; // Deep clone
			if ( this.source == 'url' ) ret.source_url = this.source_url ;
			if ( this.source == 'file' ) ret.file_uuid = this.file_uuid ;
			let columns = [] ;
			$.each ( this.update_info.columns , function ( dummy , c ) {
				if ( c.use == '?' ) columns.push('') ;
				else columns.push(c.use) ;
			} ) ;
			ret.columns = columns ;
			return ret ;
		} ,
		import_source : function () {
			let self = this ;
			let payload = {
				update_info : JSON.stringify(self.get_update_info()) ,
				meta : JSON.stringify(self.meta) ,
				query : 'import_source' ,
				catalog : self.meta.catalog_id==''?0:self.meta.catalog_id*1 , // TODO?
				seconds : self.seconds ,
				username : widar.getUserName()
			} ;
			$.post ( api , payload , function ( d ) {
				if ( d.status != 'OK' ) {
					alert ( d.status ) ;
					return ;
				}
				self.meta.catalog_id = d.catalog_id ;
				self.is_done = true ;
			} , 'json' ) ;
		} ,
		test_source : function () {
			let self = this ;
			self.test_running = true ;
			self.test_successful = false ;
			let payload = {
				update_info : self.get_update_info() ,
				query : 'test_import_source' ,
			} ;
			payload.update_info.read_max_rows = 1000 ;
			payload.update_info = JSON.stringify(payload.update_info) ;
			$.post ( api , payload , function ( d ) {
				console.log("ALIVE");
				if ( d.status != 'OK' ) {
					console.log("NOT OK");
					alert ( d.status ) ;
				} else {
					console.log("OK");
					self.test_results = d.data ;
					console.log("data is set");
					self.test_successful = true ;
					console.log("Success!");
				}
				self.test_running = false ;
				console.log("Not running anymore");
			} , 'json' ) ;
		} ,
		load_headers : function () {
			let self = this ;
			self.headers_loaded = false ;
			self.test_successful = false ;
			let payload = {
				update_info : JSON.stringify(self.get_update_info()) ,
				query : 'get_source_headers' ,
			} ;
			$.post ( api , payload , function ( d ) {
				if ( d.status != 'OK' ) {
					alert ( d.status ) ;
					return ;
				}
				let columns = [] ;
				$.each ( d.data , function ( k , v ) {
					let use = '?' ;
					let v2 = v.toLowerCase().trim();
					if(self.valid_column_headers.indexOf(v2) != -1) use = v2 ;
					if ( v2=='description' ) use = 'desc' ;
					if ( v2=='coord' ) use = 'P625' ;
					if ( /^p\d+$/.test(v2) ) use = v2.toUpperCase() ;
					columns.push({label:v,use:use});
				} ) ;
				self.update_info.columns = columns ;
				self.headers_loaded = true ;
			} , 'json' ) ;
		} ,
		updateTypes : function () {
			var me = this ;
			me.types = [] ;
			me.type2count = {} ;
			$.each ( get_all_catalogs() , function ( k , v ) { if(typeof me.type2count[v.type]=='undefined')me.type2count[v.type]=1;else me.type2count[v.type]++; } ) ;
			$.each ( me.type2count , function ( k , v ) { me.types.push ( k ) } ) ;
			me.types.sort() ;
		} ,
		doesCatalogWithPropertyExist : function () {
			var me = this ;
			var ret = false ;
			var prop = me.meta.property.replace(/\D/g,'') ;
			if ( prop == '' ) return ;
			$.each ( get_all_catalogs() , function ( k , v ) {
				if ( v.wd_prop == prop ) ret = true ;
			} ) ;
			return ret ;
		} ,
		onPropertyChanged : function () {
			var me = this ;
			var prop = me.meta.property.replace(/\D/g,'') ;
			if ( prop == '' ) return ;
			prop = "P" + prop ;
			$.getJSON ( 'https://www.wikidata.org/w/api.php?callback=?' , {
				action:'wbgetentities',
				ids:prop,
				format:'json'
			} , function ( d ) {
				var e = d.entities[prop] ;
				if ( typeof e == 'undefined' ) return ;
				if ( me.meta.name == '' && typeof e.labels.en != 'undefined' ) me.meta.name = e.labels.en.value.replace(/ ID$/,'') ;
				if ( me.meta.desc == '' && typeof e.descriptions.en != 'undefined' ) me.meta.desc = e.descriptions.en.value ;
				if ( typeof e.claims == 'undefined' ) return ;
				if ( me.meta.url == '' && typeof e.claims['P1896'] != 'undefined' ) me.meta.url = e.claims['P1896'][0].mainsnak.datavalue.value ;
				if ( me.update_info.url_pattern == '' && typeof e.claims['P1630'] != 'undefined' ) me.update_info.url_pattern = e.claims['P1630'][0].mainsnak.datavalue.value ;
			} ) ;
		} ,
    },
    template:'#import-template'
} ) ;
</script>
