<template id='top-groups-template'>
<div class='mt-2'>
	<h1 tt='top_groups'></h1>
	<p tt='top_groups_blurb'></p>
	<div v-if='loaded'>
		<table class='table table-striped'>
			<thead>
				<th tt='group_name'></th>
				<th tt='group_catalogs'></th>
				<th tt='group_user'></th>
			</thead>
			<tbody>
				<tr v-for='(g,gid) in groups'>
					<td nowrap>
						<router-link :to="'/top_missing/'+g.cids">{{g.name}}</router-link>
					</td>
					<td>
						<div v-for='c in g.catalogs'>
							<router-link :to="'/catalog/'+c.id">{{c.name}}</router-link>
							<span v-if='widar.is_logged_in'>
								[<a style='color:red' href='#' @click.prevent='removeCatalog(gid,c.id)' tt='remove'></a>]
							</span>
						</div>
						<div v-if='widar.is_logged_in'>
							<input type='text' class='form-control' style='max-width:100px;display:inline' v-model='g.new_catalog' tt_placeholder='ph_catalog_id' />
							<button class='btn btn-outline-primary' @click.prevent='addNewCatalog(gid)' tt='add_catalog_to_group'></button>
							<span v-if="g.catalogs.length==0">
								<button class='btn btn-outline-danger' @click.prevent='removeEmptyGroup(gid)' tt='remove_empty_group'></button>
							</span>
						</div>
					</td>
					<td nowrap>
						<userlink :username='g.user_name'></userlink>
					</td>
				</tr>
			</tbody>
		</table>

		<div v-if='widar.is_logged_in' style="margin-bottom:0.5rem;">
			<input type='text' class='form-control' style='max-width:400px;display:inline' v-model='new_group' tt_placeholder='new_group_name' />
			<button class='btn btn-outline-primary' @click.prevent='createNewGroup' tt='create_new_group'></button>
		</div>

	</div>
	<div v-else>
		<i tt='loading'></i>
	</div>
</div>
</template>

<script>
'use strict';

let TopGroups = Vue.extend ( {
    props : [] ,
    data : function () { return { groups:[] , loaded:false , new_group:'' } } ,
    created : function () {
    	let me = this ;
    	get_all_catalogs ( function () {
	    	me.load();
    	});
    },
	updated : function () { tt.updateInterface(this.$el) } ,
	mounted : function () { tt.updateInterface(this.$el) } ,
    methods : {
    	load : function () {
    		let me = this ;
    		$.get ( './api.php' , {
    			query : 'get_top_groups'
    		} , function (d) {
    			$.each ( d.data , function ( k , v ) {
    				let catalogs = v.catalogs.split(/,/);
    				let cids = [] ;
    				let new_catalogs = [] ;
    				$.each ( catalogs , function ( dummy , catalog ) {
    					let c = $.trim(catalog) ;
    					if ( c == '' ) return ;
    					if ( typeof get_specific_catalog(c) == 'undefined' ) return ;
    					new_catalogs.push ( get_specific_catalog(c) ) ;
    				} ) ;
    				d.data[k].catalogs = new_catalogs ;
    				d.data[k].cids = me.get_cids(d.data[k].catalogs).join(',');
    			} ) ;
    			me.groups = d.data ;
    			me.loaded = true ;
    		} , 'json' ) ;
    	} ,
    	get_cids : function ( catalogs ) {
    		let ret = [] ;
    		$.each ( catalogs , function ( k , v ) { ret.push(v.id*1) } ) ;
    		return ret
    	} ,
    	runAPIandReload : function ( params ) {
    		let me = this ;
    		$.get ( './api.php' , params , function (d) {
    			if ( d.status == 'OK' ) {
	    			me.loaded = false ;
	    			me.load();
    			} else {
    				alert ( d.status ) ;
    			}
    		} ) ;
    	} ,
    	createNewGroup : function () {
    		let me = this ;
    		let new_group = $.trim(me.new_group) ;
    		if ( new_group == '' ) {
    			alert('Please enter a name for the new group');
    			return ;
    		}
    		let params = {
    			query : 'set_top_group' ,
    			group_id : 0 , // New group
    			group_name : new_group ,
    			catalogs : '',
    			username : widar.getUserName(),
    		} ;
    		me.runAPIandReload ( params ) ;
    	} ,
    	removeEmptyGroup : function ( group_id ) {
    		let me = this ;
    		if ( me.groups[group_id].catalogs.length>0 ) {
    			alert("This group is not empty");
    			return;
    		}
    		let params = {
    			query : 'remove_empty_top_group' ,
    			group_id : me.groups[group_id].id ,
    			username : widar.getUserName(),
    		} ;
    		me.runAPIandReload ( params ) ;
    	} ,
    	removeCatalog : function ( group_id , catalog_id ) {
    		let me = this ;
    		let cids = me.get_cids(me.groups[group_id].catalogs).filter(function(value, index, arr){ return value != catalog_id; });
    		let params = {
    			query : 'set_top_group' ,
    			group_id : me.groups[group_id].id ,
    			group_name : me.groups[group_id].name ,
    			catalogs : cids.join(','),
    			username : widar.getUserName(),
    		} ;
    		me.runAPIandReload ( params ) ;
    	} ,
    	addNewCatalog : function ( group_id ) {
    		let me = this ;
    		let g = me.groups[group_id] ;
    		let catalog_id = parseInt(g.new_catalog,10) * 1 ;
    		if ( catalog_id <= 0 || Number.isNaN(catalog_id) ) {
    			alert('This needs to be a number');
    			return ;
    		}

    		let cids = me.get_cids(g.catalogs);
    		if ( cids.includes(catalog_id) ) { // Already have this one
    			alert('This catalog is already in the group');
    			return ;
    		}
    		cids.push(catalog_id) ;

    		let params = {
    			query : 'set_top_group' ,
    			group_id : me.groups[group_id].id ,
    			group_name : me.groups[group_id].name ,
    			catalogs : cids.join(','),
    			username : widar.getUserName(),
    		} ;
    		me.runAPIandReload ( params ) ;
    	} ,
    },
    template:'#top-groups-template'
} ) ;
</script>
